Welcome to exercise two of “Apache Spark for Scalable Machine Learning on BigData”. In this exercise you’ll apply the basics of functional and parallel programming. 

Again, please use the following two links for your reference:
https://spark.apache.org/docs/latest/api/python/pyspark.html#pyspark.RDD
https://spark.apache.org/docs/latest/rdd-programming-guide.html

Let’s actually create a python function which decides whether a value is greater than 50 (True) or not (False).

In [8]:
from pyspark import SparkContext
sc = SparkContext()

In [1]:
def gt50(i):
    if i > 50:
        return True
    else:
        return False

In [2]:
print(gt50(4))
print(gt50(51))

False
True

Let’s simplify this function

In [3]:
def gt50(i):
    return i > 50

In [4]:
print(gt50(4))
print(gt50(51))

False
True

Now let’s use the lambda notation to define the function.

In [5]:
gt50 = lambda i: i > 50

In [6]:
print(gt50(4))
print(gt50(51))

False
True

In [13]:
list(range(100))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [9]:
#let's shuffle our list to make it a bit more interesting
from random import shuffle
l = list(range(100))
shuffle(l)
rdd = sc.parallelize(l)

Let’s filter values from our list which are equals or less than 50 by applying our “gt50” function to the list using the “filter” function. Note that by calling the “collect” function, all elements are returned to the Apache Spark Driver. This is not a good idea for BigData, please use “.sample(10,0.1).collect()” or “take(n)” instead.

In [10]:
rdd.filter(gt50).collect()

[78,
 88,
 70,
 72,
 94,
 95,
 58,
 76,
 87,
 65,
 91,
 69,
 62,
 75,
 82,
 89,
 59,
 98,
 79,
 74,
 51,
 64,
 80,
 92,
 99,
 68,
 63,
 57,
 96,
 97,
 56,
 61,
 83,
 81,
 90,
 84,
 52,
 54,
 60,
 67,
 71,
 86,
 93,
 66,
 55,
 53,
 85,
 77,
 73]

We can also use the lambda function directly.

In [11]:
rdd.filter(lambda i: i > 50).collect()

[78,
 88,
 70,
 72,
 94,
 95,
 58,
 76,
 87,
 65,
 91,
 69,
 62,
 75,
 82,
 89,
 59,
 98,
 79,
 74,
 51,
 64,
 80,
 92,
 99,
 68,
 63,
 57,
 96,
 97,
 56,
 61,
 83,
 81,
 90,
 84,
 52,
 54,
 60,
 67,
 71,
 86,
 93,
 66,
 55,
 53,
 85,
 77,
 73]

Let’s consider the same list of integers. Now we want to compute the sum for elements in that list which are greater than 50 but less than 75. Please implement the missing parts.

In [12]:
rdd.filter(lambda x: x > 50).filter(lambda x: x < 75).sum()

1500

You should see "1500" as answer. Now we want to know the sum of all elements. Please again, have a look at the API documentation and complete the code below in order to get the sum.